<div id="navbar">
  <p><%= link_to 'Add a Cocktail', new_cocktail_path %></p>
  <img src="bar.svg" alt="bar">
  <img src="shaker.svg" alt="shaker">
</div>
<div id="banner">
  <div class="header">
    <p>My Cocktails</p>
  </div>
</div>


<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-8 col-md-6">
      <div class="card"
          style="background-image: linear-gradient(rgba(100,100,100,0.3), rgba(100,100,100,0.2)),
                 url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
        <div class="card-description">
          <h2><%= cocktail.name %></h2>
        </div>
        <a class="card-link" href="#" ><%= link_to 'DETAILS', cocktail_path(cocktail.id)%></a>
      </div>
    </div>
    <% end %>
  </div>
</div>
